<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity android:name="com.mandu.reader.ImportFixtureActivity" android:exported="true"
            android:theme="@android:style/Theme.Material.Light.NoActionBar" />
        <!-- Instrumentation APK only. Never packaged in the reader APK. -->
        <provider android:name="com.mandu.reader.ImportTestDocumentsProvider"
            android:authorities="com.mandu.reader.test.documents"
            android:exported="true" android:grantUriPermissions="true" android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter><action android:name="android.content.action.DOCUMENTS_PROVIDER" /></intent-filter>
        </provider>
    </application>
</manifest>
